{% with custom_header=True %}
{% include "header.html" %}
{% endwith %}

<header>
<div class="container">
<div style="white-space: pre;color:  #b5e853;font-weight: bold">
    ____                  _     __          
   / __ \____  ________  (_)___/ /___  ____ 
  / /_/ / __ \/ ___/ _ \/ / __  / __ \/ __ \
 / ____/ /_/ (__  )  __/ / /_/ / /_/ / / / /
/_/    \____/____/\___/_/\__,_/\____/_/ /_/ 
                            Powered by Ares

</div>
</div>
</header>

<div class="container">
  <section id="main_content">
    <form method="POST">
    <h2>Passphrase: </h2><input type="password" name="password" style="width: 50%"> <input type="submit" value="OK">
    </form>
  </section>
</div>

{% include "footer.html" %}
